tqdm~=4.66.1
scipy~=1.11.4
opencv-python~=4.8.1.78
toml~=0.10.2
yapf
transformers
timm
supervision==0.6.0
pycocotools
addict
jinja2
pandas>=0.25
numpy~=1.26.0
torchvision~=0.14.1
pillow~=10.0.1
easydict
scikit-image
tensorboard
tensorboardX